
  <footer class="footer"  style="background-color: rgba(29, 43, 64, 0.873);">
    <div class="container py-4">
    <div class="row">
   
    <div class="col-md-4 col-sm-12">
    <p class="m-0">
    <a  class="text-light text-decoration-none" href="#">DMCA</a>
    |
    <a class="text-light text-decoration-none" href="#">Contact Us</a>
    |
    <a class="text-light text-decoration-none" href="#">Movies</a>
    </p>
    </div>

    <div class="col-md-4 col-sm-12">
        <ul class="footer-social text-center m-0">
        <li class="d-inline p-2 "><a target="_blank" href="" class="facebook-share"><i class="fab fa-facebook-f fs-4"></i></a></li>
        <li class="d-inline p-2 "><a target="_blank" href="" class="twitter-share"><i class="fab fa-twitter fs-4"></i></a></li>
        <li class="d-inline p-2 "><a target="_blank" href="" class="youtube-share"><i class="fab fa-youtube fs-4"></i></a></li>
        <li class="d-inline p-2 "><a target="_blank" href="" class="discord-share"><i class="fab fa-discord fs-4"></i></a></li>
        <li class="d-inline p-2 "><a target="_blank" href="" class="instagram-share"><i class="fab fa-instagram fs-4"></i></a></li>
        <li class="d-inline p-2 "><a target="_blank" href="" class="instagram-share"><i class="fab fa-telegram-plane fs-4"></i></a></li>
        </ul>
    </div>

    <div class="col-md-4 col-sm-12 text-center">
        <p class="m-0">
            all Right belong to the <a href="#" class="text-danger">Director</a>
        </p>
    </div>


    </div>
    </div>
</footer>