.home {
  min-height: 400px;
  background-image: url(../../assets/images/istockphoto-1341515382-612x612.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
