<div class="container py-5">
      <app-loading *ngIf="tvData?.length == 0"></app-loading>
      <input  [(ngModel)]="term" type="text" (change)="search()" class="form-control my-5 bg-transparent text-white" placeholder="Search....">
      <div class="row">

        <!-- <div class="col-md-2" *ngFor="let tv of tvData|search:term">
            <app-item [info]="tv"></app-item>
        </div> -->
                <div class="col-md-2" *ngFor="let tv of tvData">
                  <app-item [info]="tv"></app-item>
                </div>
      </div>

            <nav aria-label="..." class="d-flex justify-content-center">
              <ul class="pagination ">

                <li class="page-item" *ngFor="let page of pages" (click)="getTV(page)">
                  <a class="page-link">{{page}}</a>
                </li>

              </ul>
            </nav>

</div>
