<div class="container py-5">
  <app-loading *ngIf="!details"></app-loading>

  <div class="row" *ngIf="details">
    <div class="col-md-4">
      <img class="w-100" [src]="'https://image.tmdb.org/t/p/w500'+details.poster_path" alt="">
    </div>
    <div class="col-md-8">
      <div class="content">
        <h1>{{details.title}} {{details.name}}</h1>
        <h5 class="text-muted mb-5">{{details.tagline}}</h5>
        <ul class="list-unstyled d-flex">
          <li class="bg-info p-2 rounded-2 mx-2" *ngFor="let genre of details.genres">{{genre.name}}</li>
        </ul>
        <ul class="list-unstyled">
          <li class="mb-5 fw-bold">Vote:  {{details.vote_average}} </li>
          <li class="mb-5 fw-bold">Vote count: {{details.vote_count}} </li>
          <li class="mb-5 fw-bold">popularity: {{details.popularity}} </li>
          <li class="mb-5 fw-bold">release date: {{details.release_date}} </li>

        </ul>
        <p class="text-muted">{{details.overview | seemore: 20}}</p>
      </div>
    </div>
  </div>
</div>
